<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/categories">Categories</a>
                </li>
                <li>
                    <a href="/categoriesByDepth/0">Categories by Depth</a>
                </li>
                <li>
                    <a href="/categories/create">Create Category</a>
                </li>
                <li>
                    <a href="/categories/getRabbitIslands">Categories getRabbitIslands</a>
                </li>
                <li>
                    <a href="/categories/getLongestRabbitHole">Categories getLongestRabbitHole</a>
                </li>
            </ul>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>
